body{
    overflow: hidden;
}

#content{
    overflow: hidden;

}


.chatBox{
    max-height: 85% !important;
    height: 85% !important; 
    width: 80%;
    overflow: scroll;
}

.chatBox div{
    max-width: 50%;
    padding: 5px;
    margin: 15px;
    background-color: grey;
    color:white;
}

.recieved{
    background-color: darkgrey !important;
    margin-left: 45% !important;
}