#barwrap {
  margin-bottom: 30px; /* space between the bar and your content */
}

.bar{
  text-align: center;
  padding: 8px;
  padding-top: 15px;
  background-color: rgba(21, 90, 194, 0.5);
  max-height: 100px; /* set it at will according to your message's length in small devices */
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #f5f5f5;
  border-bottom:thick ridge rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 2px 13px 0.5px rgba(0, 0, 0, 0.3);
  box-shadow:  0px 2px 13px 0.5px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 3008;
}

#head-image{
  margin-right: 1%;
  position: relative;
  top: 4px;
}

#text{
  position: relative;
  /* top: 8px; */ 
}

#otherimg{

/* Your code here for that section */

}

#ok{
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  font-size: 20px;
}

#ok a {
  color: #3EAAEE; 
  text-decoration: none;
}